.btnImg, .btnHome {
  position: absolute;
  top: 0%;
  left: 84%;
  margin: 10px;
  width: 7%;
  height: 4%;
  border-radius: 5px;
  color: #ffffff;
  background-color: #202124;
}

.btnAdv {
  position: absolute;
  top: 0%;
  left: 92%;
  margin: 10px;
  width: 7%;
  height: 4%;
  border-radius: 5px;
  color: #ffffff;
  background-color: #202124;
}

.barSrch {
  position: absolute;
  top: 50%;
  left: 36%;
  margin: 5px;
  width: 25%;
  height: 4%;
  border-radius: 10px;
  color: cornsilk;
  background-color: #555555;
}

#magnify {
  position: absolute;
  top: 51.65%;
  left: 37%;
  width: 24px;
  height: 24px;
}

.barSrch:hover, .btnImg:hover, .btnHome:hover, .btnAdv:hover{
  background-color: #303134;
}

.btnSrch {
  position: absolute;
  top: 55%;
  left: 42%;
  margin: 10px;
  width: 7%;
  height: 4%;
  border-radius: 5px;
  color: #ffffff;
  background-color: #303134;
}

#btnLuck {
  position: absolute;
  top: 55%;
  left: 50%;
  margin: 10px;
  width: 7%;
  height: 4%;
  border-radius: 5px;
  color: #ffffff;
  background-color: #303134;
}

.bodyAdv {
  background-color: #222222;
}

.head {
  position: absolute;
  margin-left: 5px;
  font-family: arial,sans-serif;
  font-size: 1.5em;
  color: #ffffff;
}

.advSrch {
  position: absolute;
  top: 10%;
  left: 2%;
  font-family: arial,sans-serif;
  font-size: 1em;
  color: #f28b82;
}

#findpages {
  position: absolute;
  top: 20%;
  left: 2%;
  margin: 5px;
  font-size: 14pt;
  color: #ffffff;
}


.barExact {
  position: absolute;
  top: 25%;
  left: 15%;
  margin: 5px;
  width: 30%;
  height: 3%;
  border-radius: 10px;
  background-color: #222222;
  color: #ffffff;
}

.barAll {
  position: absolute;
  top: 30%;
  left: 15%;
  margin: 5px;
  width: 30%;
  height: 3%;
  border-radius: 10px; 
  background-color: #222222;
  color: #ffffff;
}

.barAny {
  position: absolute;
  top: 35%;
  left: 15%;
  margin: 5px;
  width: 30%;
  height: 3%;
  border-radius: 10px;
  background-color: #222222;
  color: #ffffff;
}

.barNone {
  position: absolute;
  top: 40%;
  left: 15%;
  margin: 5px;
  width: 30%;
  height: 3%;
  border-radius: 10px;
  background-color: #222222;
  color: #ffffff;
}

.exact {
  position: absolute;
  top: 25%;
  left: 2%;
  margin: 5px;
  font-size: 10pt;
  color: #ffffff;
}
.all {
  position: absolute;
  top: 30%;
  left: 2%;
  margin: 5px;
  font-size: 10pt;
  color: #ffffff;
}
.any {
  position: absolute;
  top: 35%;
  left: 2%;
  margin: 5px;
  font-size: 10pt;
  color: #ffffff;
}
.none {
  position: absolute;
  top: 40%;
  left: 2%;
  margin: 5px;
  font-size: 10pt;
  color: #ffffff;
}

.btnAdvS {
  position: absolute;
  top: 60%;
  left: 35%;
  margin: 5px;
  width: 10%;
  height: 3%;
  border-radius: 4px;
  background-color: #8ab4f8;
  border-color: #8ab4f8;
  color: #ffffff;
  font-weight: bold;
  text-shadow: #ff2222;
}

.bodyHome, .bodyImg {
  background-color: #212124;
}

#logo {
  position: absolute;
  top: 30%;
  left: 40%;
}