{% extends "auctions/layout.html" %}

{%block title %}
    Auctions
{% endblock %}

{% block body %}
    <h2 style="text-align: center; font-size:64px">Active Listings</h2>    
    <div class="container">
        <div class="row">
        {% for i in range %}
          <div class="col">          
            <div class="card" style="width: 18rem;">
                <img src="{{ image }}" class="card-img-top" alt="listingImage">
                <div class="card-body">
                <h5 class="card-title" name="title">{{ title }}</h5>
                <p class="card-text">{{ description }}</p>
                <a href="{% url 'listing' %}" class="btn btn-primary">Go to Listing</a>
                </div>
            </div>
            <br>
          </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}